<h2>Order of the Phoenix Members in <%= @results.first.house%>: <%= @results.size %></h2>
<section class="details">
  <ul>
    <h3>Details of <%= @results.first.house%> Members:</h3>
    <% @results.each do |member| %>
      <div class="member">
        <p class='name'>
          Name: <%= member.name %>
        </p>
        <% if member.role != nil %>
          <p class='role'>
            Role: <%= member.role %>
          </p>
        <% end %>
        <p class='house'>
          House: <%= member.house %>
        </p>
        <% if member.patronus != nil %>
          <p class='patronus'>
            Patronus: <%= member.patronus %>
          </p>
        <% end %>
        <br>
      </div>
    <% end %>
  </ul>
</section>
